@font-face {
  font-family: 'iconfont';  /* project id 2379889 */
  src: url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.eot');
  src: url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.woff') format('woff'),
  url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2379889_yjbndpzchcc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}