$wrapper-fontcolor: #FFFFCC; 
$docker-fontcolor: #909399; 
$content-fontcolor: #333;
$content-bgcolor: #F1F1F1;
$content-notice-fontcolor: #777;
$docker-bgcolor: #e9e7ef; 
$docker-activeColor: #409EFF; 